# Cluster-Wizard environment variables
CW_CEPH_ENABLE=
CW_CEPH_USER=
CW_CEPH_POOL=

CW_SMTP_ENABLE=
CW_SMTP_HOST=
CW_SMTP_PORT=
CW_SMTP_USER=
CW_SMTP_PWD=
CW_SMTP_FROM_NAME=
CW_SMTP_FROM_EMAIL=
CW_SMTP_REPLY_TO=

EXTERNAL_IP=IP_OF_MY_MACHINE


